<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite TestCases Taller" parallel="none">
  <test name="TestCases Christian">
    <parameter name="browser" value="IE"></parameter>
    <classes> 
      <class name="ariba.earchive.framework.tests.LoginBRA"/> 
      <class name="ariba.earchive.framework.tests.LoginEUR"/>
      <class name="ariba.earchive.framework.tests.WBSearhByInvoiceReference"/>
      <class name="ariba.earchive.framework.tests.WBSearchByCountrySupplier"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
